.card-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    background-color: white;
    border-radius: 15px;
}

.imagemItem{
    border-radius: 15px 15px 0px 0px;
    width: 280px;
    object-fit: cover;
    object-position: center;
}

.infoItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 15px;
}

.nomeItem{
    text-align: left;
    width: 250px;
    height: 40px;
    justify-self: flex-start;
}

.categoriaItem{
    height: 25px;
    font-style: italic;
}

.precoItem{
    font-weight: bold;
    height: 25px;
}

.adcCarrinho{
    margin: 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(0, 219, 0);
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px;
    align-self: flex-end;
    cursor: pointer;
}

.adcCarrinho:hover{
    background-color: rgb(0, 175, 0);
    border: 2px solid rgb(0, 151, 0);
}